.App {
  font-family: sans-serif;
  display: block;
  width: auto;
  height: auto;
  padding: 0px 15px;
}

.container {
  display: flex;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  flex-basis: 23.3%;
  background-color: #ececec;
  height: 300px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.fig {
  flex-basis: 80%;
  height: 20px;
  justify-content: center;
}

.fig img {
  width: 100%;
  height: 100%;
}
.product_name {
  cursor: pointer;
}

.detailPage {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: normal;
  height: 100vh;
  padding: 0;
  flex-direction: row;
  margin: 0;
}
.prfpic {
  flex-basis: 20%;
}
.content {
  background-color: #eeffee;
  padding: 5px;
  flex-basis: 80%;
  height: 100%;
  padding: 15px;
  color: #333;
  font-size: 2em;
  text-align: left;
}
